html, body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
}

canvas {
  display: block;
  border: 8px solid #fff3;
  border-radius: 4px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}
