html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100vh;
  background-color: #232323;
}

canvas {
  display: block;
  border: 4px solid #fff4;
}
